@import "~reset.css/reset.css";

$font-url: 'https://fonts.googleapis.com/css?family=Roboto&display=swap';
$font-family: 'Roboto', sans-serif;
@import '~semantic-ui-sass/semantic-ui';


*, *::after, *::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  min-width: 300px;  

  margin: 0;
  background-color: white;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;  
  perspective: 1px;

  @supports (display:-ms-grid) { 
    transform-style: flat;
    perspective: 0;
  }  
}

p + p {
  padding-top: 1rem;
}

main {
  text-align: center; 
  margin: 0 auto;
}